<form action="/records/{{record._id}}?_method=PUT" method="POST">
  <input type="text" name="name" placeholder="name" value="{{record.name}}" required>
  <input type="date" name="date" placeholder="date" value="{{record.date}}">
  <select name="category" required>
    <option value="" selected disabled>選擇類別</option>
    <option value="isHome" {{#if categoryObject.isHome}} selected {{/if}}>家居物業</option>
    <option value="isTraffic" {{#if categoryObject.isTraffic}} selected {{/if}}>交通出行</option>
    <option value="isEntertainment" {{#if categoryObject.isEntertainment}} selected {{/if}}>休閒娛樂</option>
    <option value="isFood" {{#if categoryObject.isFood}} selected {{/if}}>餐飲食品</option>
    <option value="isOthers" {{#if categoryObject.isOthers}} selected {{/if}}>其它</option>
  </select>
  <input type="number" name="amount" placeholder="amount" step="1" min="0" value={{record.amount}} required>
  <button type="submit">Save</button>
  <a href="/">Back</a>
</form>